<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PEARLS</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
        <div class="container m-10">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-3xl mb-4"> PEARLS</h1>
                    <p>Welcome</p>
                </div>
            </div>

            <div class="row my-5">
                <div class="col-md-6">
                    <a href="/student/login">
                    <button type="submit"
                        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">นักศึกษา</button>
                    </a>

                    <a href="/child/login">
                        <button type="submit"
                        class="bg-green-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">เด็กโต</button>
                    </a>

                    <a href="/elder/login">
                        <button type="submit"
                        class="bg-yellow-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">ผู้สูงอายุ</button>
                    </a>

                </div>
            </div>

        </div>


    </div>



</body>

</html>